body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f3e7ea;
}

header {
  position: relative;
  background-color: #ffb347;
  color: #f3e7ea;
  text-align: center;
  padding: 6rem 0 0 0;
}

header h1 {
    margin-bottom: 40px;
    font-size: 48px;
    text-align: center;
    font-family: 'Pacifico'
}

main {
    flex: 1;
    padding: 2rem;
}

footer {
    background-color: #ef603b;
    color: #ffffff;
    padding: 1rem 0;
    text-align: center;
}

button.primary {
    background-color: #dd7298;
    color: #ffffff;
    border: none;
    border-radius: 14px;
    padding: 1rem 2rem;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

button.primary:hover {
    background-color: #02ac94;
    transform: scale(1.05);
}

.btn-text {
    color: #e8779f;
}

.btn-text:hover {
    color: #02ac94;
    transform: scale(1.5);
}
.flash-messages {
    margin-bottom: 1.5rem;
}

form input[type="text"] {
    background-color: #ffffff;
    border: 2px solid #ff69b4;
    border-radius: 8px;
    padding: 0.5rem 0.8rem;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 1rem;
    font-size: 1.75rem;
    color: #191616;
}

form input[type="text"]:focus {
    border-color: #ff1493;
    outline: none;
    box-shadow: 0 0 5px rgba(255,20,147,0.5);
}

.toast {
    position: fixed;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);
    background: #333;
    color: white;
    padding: 25px 30px;
    border-radius: 5px;
    opacity: 0.9;
    z-index: 1000;
    font-family: Arial, sans-serif;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.toast.success { background: #3ec83e; }
.toast.error { background: #f63232; }

.toast.show {
    transform: translateY(0);
    opacity: 0.95;
}

.toast.hide {
    transform: translateY(-20px);
    opacity: 0;
}
